h2{
	margin:3vw;
}
*{box-sizing:border-box;
	}
	div.box-color{
		background-color:gray;
		margin-right:15px ;
		margin-bottom: 15px;
		margin-top:15px;
	}
	button.navbar-toggler{
		background-color:gray;
	}
	ul.navbar-nav{
		background-color:#D3D3D3;
	}